{% extends "arinwest/base.html" %}
{%load staticfiles %}
{%block content%}
    {% include "arinwest/header.html" with header_type="white-bg" services_items=services_items %}

         <!-- HEADER line -->

        <div class="fixed-background" style="background-image: url({% static 'arinwest/img/background-58.jpg' %});">
            <div class="page-height about-bg">
                <div class="full-size-banner-entry full-size valign-middle">
                    <div class="valign-text-wrapper text-center">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="h2 light"><b>О нас</b></div>
                                <div class="empty-space col-xs-b15"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scroll-button style-3 light hidden-xs"></div>
            </div>
        </div>

        <div class="container">
            <div class="empty-space col-xs-b55 col-sm-b80"></div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="h2 small"><b>Наша история</b></div>
                    <div class="empty-space col-xs-b15"></div>
                    <div class="simple-article large grey">Каждый мастер в нашей студии прошел долгий путь профессионального становления прежде чем оказаться у нас. Мы понимаем насколько важно вам получить качественный сервис, поэтому прикладываем все усилия, чтобы добиться лучшего результата. </div>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="empty-space col-xs-b30 col-sm-b80"></div>

            <div class="row col-xs-text-center col-sm-text-left">
                <div class="col-sm-7">
                    <img class="img-responsive" src="{% static 'arinwest/img/about/slider/1.jpg' %}" alt=""/>
                    <div class="empty-space col-xs-b10 col-sm-b0"></div>
                </div>
                <div class="col-sm-5">
                    <div class="simple-article grey">
                        <p>Чтобы выглядеть красиво, мало просто следовать моде. Важно знать, что выбранный стиль подходил именно вам. Наши специалисты позаботятся о развитии особенностей вашей внешности. </p>
                    </div>
                </div>
            </div>

            <div class="empty-space col-xs-b25 col-sm-b50"></div>

            <div class="row col-xs-text-center col-sm-text-left">
                <div class="col-sm-7">
                    <img class="img-responsive" src="{% static 'arinwest/img/about/slider/2.jpg' %}" alt=""/>
                    <div class="empty-space col-xs-b10 col-sm-b0"></div>
                </div>
                <div class="col-sm-5">
                    <div class="simple-article grey">
                        <p>Мода стремительно меняется с каждым днем, но мы постоянно остаемся в курсе последних тенденций. Странные, гламурные и классические прически – мы всегда знаем, что сейчас популярно. </p>
                    </div>
                </div>
            </div>

            <div class="empty-space col-xs-b25 col-sm-b50"></div>

            <div class="row col-xs-text-center col-sm-text-left">
                <div class="col-sm-7">
                    <img class="img-responsive" src="{% static 'arinwest/img/about/slider/3.jpg' %}" alt=""/>
                    <div class="empty-space col-xs-b10 col-sm-b0"></div>
                </div>
                <div class="col-sm-5">
                    <div class="simple-article grey">
                        <p>Мы внимательно прислушиваемся к пожеланиям наших клиентов и даем профессиональные советы. Для нас важно, чтобы вы остались довольны вашим обликом, поэтому мы делимся своим опытом, чтобы сделать вас еще красивее. </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="empty-space col-xs-b55 col-sm-b100"></div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="h2 small"><b>Почему мы?</b></div>
                    <div class="empty-space col-xs-b15"></div>
                    <div class="simple-article large grey">Качественный сервис, дружный коллектив и волшебная атмосфера - у нас вы получите высококачественное обслуживание и приятное общение.</div>
                </div>
            </div>
            <div class="empty-space col-xs-b30 col-sm-b60"></div>
            <div class="row text-center">
                <div class="col-xs-12 col-sm-4 feature feature-1">
                    <div class="feature-img center-block">
                        <img class="img-circle img-responsive" src="{% static 'arinwest/img/about/black-sq.jpg' %}" alt=""/>
                    </div>
                    <div class="h4"><i>Всегда на связи</i></div>
                    <p class="simple-article grey">Вы всегда можете получить  быструю, мобильную он-лайн консультацию: whatsup, direct, sms.</p>
                </div>
                <!-- .col-md-6 end -->
                <div class="col-xs-12 col-sm-4 feature feature-1">
                    <div class="feature-img center-block">
                        <img class="img-circle img-responsive" src="{% static 'arinwest/img/about/black-sq.jpg' %}" alt=""/>
                    </div>
                    <div class="h4"><i>Бесплатная парковка</i></div>
                    <p class="simple-article grey">Вы можете бесплатно припарковаться рядом с салоном.</p>
                </div>
                <!-- .col-md-6 end -->
                <div class="col-xs-12 col-sm-4 feature feature-1">
                    <div class="feature-img center-block">
                        <img class="img-circle img-responsive" src="{% static 'arinwest/img/about/black-sq.jpg' %}" alt=""/>
                    </div>
                    <div class="h4"><i>Вкусные угощения</i></div>
                    <p class="simple-article grey">Выберете любой напиток на ваш вкус: горячий кофе, чай или шампанское! И конечно же шоколад  и фрукты!</p>
                </div>
            </div>
            <div class="row text-center">
                <!-- .col-md-6 end -->
                <div class="col-xs-12 col-sm-4 feature  feature-1">
                    <div class="feature-img center-block">
                        <img class="img-circle img-responsive" src="{% static 'arinwest/img/about/black-sq.jpg' %}" alt=""/>
                    </div>
                    <div class="h4"><i>Удобный график</i></div>
                    <p class="simple-article grey">Запишитесь заранее на любое удобное для вас время, мы всегда примем вас!</p>
                </div>
                <div class="col-xs-12 col-sm-4 feature feature-1">
                    <div class="feature-img center-block">
                        <img class="img-circle img-responsive" src="{% static 'arinwest/img/about/black-sq.jpg' %}" alt=""/>
                    </div>
                    <div class="h4"><i>Индивидуальный подход</i></div>
                    <p class="simple-article grey">Мы очень подробно обсуждаем все мелочи и нюансы процедуры для достижения идеального результата!</p>
                </div>
                <!-- .col-md-6 end -->
                <div class="col-xs-12 col-sm-4 feature  feature-1">
                    <div class="feature-img center-block">
                        <img class="img-circle img-responsive" src="{% static 'arinwest/img/about/black-sq.jpg' %}" alt=""/>
                    </div>
                    <div class="h4"><i>Персональный сервис</i></div>
                    <p class="simple-article grey">Мы ведем историю преображения каждого клиента, поэтому всегда знаем чем вам угодить!</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="empty-space col-xs-b55 col-sm-b80"></div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="h2 small"><b>Наша команда</b></div>
                    <div class="empty-space col-xs-b15"></div>
                    <div class="simple-article large grey">Команда Arin West сложилась не просто так. Мы – дружная семья, каждый член которой готов прийти на помощь. Мы любим то, чем занимаемся и делимся своей страстью с вами.</div>
                </div>
            </div>
            <div class="empty-space col-xs-b30 col-sm-b60"></div>
            <div class="sorting-menu style-1 text-center">
                <div class="responsive-filtration-title visible-xs"><i class="fa"></i><b><span class="text">Фильтр</span></b><i class="fa fa-angle-down"></i></div>
                <ul class="responsive-filtration-toggle">
                    {% for filial in filials %}
                        {% if filial.code == filial_code %}
                            <li><a data-code=".{{ filial.code }}" class="active">{{ filial.name }}</a></li>
                        {% else %}
                            <li><a data-code=".{{ filial.code }}">{{ filial.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            
            <div class="empty-space col-xs-b40 col-sm-b35 col-md-b25"></div>


            <div class="swiper-container" data-slides-per-view="4" data-breakpoints="1" data-xs-slides="1" data-sm-slides="2" data-md-slides="4" >
                
                <div class="swiper-button-prev swiper-button style-2 arrow-l hidden-xs"></div>
                <div class="swiper-button-next swiper-button style-2 arrow-r  hidden-xs"></div>
                <div class="swiper-wrapper">
                    {% for staff_memeber in about_us_page.staffmember_set.all %}
                        <div class="swiper-slide {{ staff_memeber.filial.code }} staff-member">
                            <div class="team-entry">
                                <div class="team-thumbnail-wrapper">
                                    <a class="team-thumbnail team-member" href="#" data-staff="{{staff_memeber.name}}"><img src="{% static staff_memeber.img_url %}" alt="" /></a>
                                </div>
                                <div class="empty-space col-xs-b20"></div>
                                <div class="text-center">
                                    <div class="h5"><a class="mouseover-simple team-member" href="#" data-staff="{{staff_memeber.name}}"><b>{{ staff_memeber.name }}</b></a></div>
                                    <div class="empty-space col-xs-b5"></div>
                                    <div class="simple-article grey">
                                        <a target="_blank"  href="https://www.instagram.com/explore/tags/{{ staff_memeber.hash_tag }}/">#{{staff_memeber.hash_tag}}</a>
                                    </div>
                                    <div class="empty-space col-xs-b15"></div>
                                    <div class="text-animation delay-3 text-center">
                                        <a href="#" data-url="https://w19328.yclients.com/?o=m{{staff_memeber.crm_id}}" class="button type-3 ms_booking">записаться</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination relative-pagination"></div>
            </div>

            <div class="empty-space col-xs-b55 col-sm-b80"></div>

        </div>

        <div class="clearfix insta-block">
            
                        
        </div>
        <div class="text-popup overlay">
            <div class="animation-wrapper full-size"></div>
            <div class="content-wrapper full-size">
                <div class="cell-view page-height">
                    <div class="container staff-member-info">
                    </div>
                </div>
            </div>
            <a class="button-close"></a>
        </div>
        {% include "arinwest/footer.html" %}

        <!-- FOOTER -->
    {%endblock%}    

    {% block script %}
    <script src="{% static 'arinwest/js/loader.js' %}"></script>
    <script type="text/javascript" src="https://w19328.yclients.com/widgetJS" charset="UTF-8"></script>
    <script src="{% static 'arinwest/js/get_staff_member.js' %}"></script>
    {% endblock %}