{% extends "arinwest/base.html" %}
{%load staticfiles %}
{%block content%}
    {% include "arinwest/header.html" with header_type="white-bg" services_items=services_items %}  

        <div class="map-wrapper">
            <div id="map-canvas" class="full-width" data-lat="56.0" data-lng="37.4563204" data-zoom="10"></div>
            <!--div id="map-canvas" class="full-width" data-lat="55.971614" data-lng="37.172656" data-zoom="14"></div-->
        </div>
        <div class="addresses-block hidden">
            <a class="marker" data-lat="55.783485" data-lng="37.709158" data-string="Москва, Барабанный переуолок, д. 4, стр 4"></a>
            <a class="marker" data-lat="56.005989" data-lng="37.2034829" data-string="Зеленоград, корп.250"></a>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="empty-space col-xs-b55 col-sm-b80"></div>

                    <div class="h4 text-center"><b>Свяжитесь с нами</b></div>

                    <div class="empty-space col-xs-b30 col-sm-b60"></div>

                    <form class="contact-form" method="POST" action="/sendemail">
                    {% csrf_token %}
                        <div class="row col-xs-b30">
                            <div class="col-sm-6 col-xs-b30 col-sm-b0">
                                <div class="input-wrapper">
                                    <input name="name" class="input" type="text">
                                    <label>Имя</label>
                                    <span></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-wrapper">
                                    <input name="email" class="input" type="text">
                                    <label>Email</label>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row col-xs-b30">
                            <div class="col-sm-12">
                                <div class="input-wrapper">
                                    <input name="subject" class="input" type="text">
                                    <label>Тема</label>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-wrapper">
                                    <textarea name="message" class="input"></textarea>
                                    <label>Сообщение</label>
                                    <span></span>
                                </div>
                            </div>
                        </div>

                        <div class="empty-space col-xs-b40"></div>

                        <div class="text-center">
                            <div class="button type-3">Отправить<input type="submit"/></div>
                        </div>
                    </form>

                    <div class="empty-space col-xs-b55 col-sm-b80"></div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        {% include "arinwest/footer.html" %}

        <div class="text-popup overlay">
            <div class="animation-wrapper full-size"></div>
            <div class="content-wrapper full-size">
                <div class="cell-view page-height">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <div class="h2 small light"><b class="text-popup-title"></b></div>
                                <div class="empty-space col-xs-b15"></div>
                                <div class="simple-article light transparent text-popup-message"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="button-close"></a>
        </div>
    {% endblock %}

    

    {% block script %}
    <!-- MAP -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        var image = "{% static 'arinwest/img/marker.png' %}"
    </script>
    <script src="{% static 'arinwest/js/map.js' %}"></script>

    <!-- CONTACT -->

    <script src="{% static 'arinwest/js/contact.form.js' %}"></script>
    {% endblock %}

