<div class="empty-space col-xs-b20 col-sm-b40"></div>
<div class="grey-line"></div>
<!-- FOOTER -->
<footer class="light">
    <div class="wide-container-fluid wide-paddings text-center">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-b15 col-sm-b0 adress">
                        <div class="footer-article simple-article grey small">
                            г. Москва <br/>
                            Барабанный пер., д. 4, стр.4
                        </div>
                        <div class="footer-article simple-article grey small">
                            <a class="mouseover-simple" href="tel:+79160285398">tel. +7 916 028 53 98</a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-b15 col-sm-b0">
                        <div class="footer-article simple-article grey small">
                            Зеленоград,<br/> корп. 250
                        </div>
                        <div class="footer-article simple-article grey small">
                            <a class="mouseover-simple" href="tel:+79160285398">tel. +7 916 028 53 98</a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-b15 col-sm-b0">
                        <div class="empty-space col-xs-b5 col-sm-b10"></div>
                        <div class="follow style-1">
                            <a class="entry" target="_blank" href="https://www.instagram.com/arinwest_studio/"><i class="fa fa-instagram"></i></a>
                                                <a class="entry" target="_blank" href="https://www.youtube.com/channel/UCsH_01YOtsjruDJJj5-MWpw
"><i class="fa fa-youtube"></i></a>
                                                <a class="entry" target="_blank" href="https://vk.com/arinwest_studio"><i class="fa fa-vk"></i></a>
                                                
                        </div>
                    </div>
                </div>

                <div class="empty-space col-xs-b10 col-sm-b15"></div>

                <div class="copyright">
                    <div class="simple-article small grey">
                        &copy; {% now "Y" %} <i class="fa fa-heart"></i> Arin West. 
                        <div class="developed-by"> Design by <a href="http://ispaceup.com" target="blank">ISPACE</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>