<div class="empty-space col-xs-b20 col-sm-b40"></div>
<div class="grey-line"></div>
<!-- FOOTER -->
<footer class="light">
    <div class="wide-container-fluid wide-paddings text-center">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-b15 col-sm-b0">
                        <div class="footer-article simple-article grey small">
                            г. Москва <br/>
                            Барабанный пер., д. 4, стр.4
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-b15 col-sm-b0">
                        <div class="footer-article simple-article grey small">
                            <a class="mouseover-simple" href="tel:+38095526538">tel. +38 095 526 538</a>
                            <br/>
                            <a class="mouseover-simple" href="mailto:inbox@arinwest.ru">e-mail inbox@arinwest.ru</a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-b15 col-sm-b0">
                        <div class="follow style-1">
                            <a class="entry" target="_blank" href="https://www.instagram.com/arinwest_studio/"><i class="fa fa-instagram"></i></a>
                                                <a class="entry" target="_blank" href="https://www.youtube.com/channel/UCsH_01YOtsjruDJJj5-MWpw
"><i class="fa fa-youtube"></i></a>
                                                <a class="entry" target="_blank" href="https://vk.com/arinwest_studio"><i class="fa fa-vk"></i></a>
                        </div>
                    </div>
                </div>

                <div class="empty-space col-xs-b20 col-sm-b35"></div>

                <div class="copyright">
                    <div class="simple-article small grey">
                        &copy; {% now "Y" %}  
                        <div class="developed-by">Arin West Studio</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>